<h1><%=@user.username %> </h1>
<h4><%=@user.name %></h4>
<% unless @user.bio.nil? %>
  <h5>bio:</h5><dr>
  <h5><%=@user.bio%></h5>
<% end %>
<br>
<%=link_to '<button>Edit profile</button>'.html_safe, edit_user_registration_path %>
<br>
<br>
<%=link_to '<button>create post</button>'.html_safe, new_user_post_path(@user, @post) %>
<br>
<br>
<%unless @posts.empty? %>
  <h3>your posts:</h3>
  <br>
<% end %>
<tbody>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.description %></td>
    <br>
    <td><%= link_to 'Show', user_post_path(@user,post) %></td>
    <td><%= link_to 'Edit', edit_user_post_path(@user,post) %></td>
    <td><%= link_to 'Destroy', user_post_path(@user,post), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
<%end%>
</tbody>