<% if @user.id == current_user.id %>
  <%= link_to (image_tag @user.avatar_url, :id => "avatar-profile-large"), edit_user_path %>
<% else %>
  <%= image_tag @user.avatar_url, :id => "avatar-profile-large" %>
<% end %>

<h1><%= @user.username %> </h1>
<h4><%= @user.name %></h4>
<% unless @user.bio.nil? %>
  <h5>bio:</h5><br>
  <h5><%= @user.bio %></h5>
<% end %>

<% unless @followers.nil? %>
  <h5>subscribers <%= @followers.size %></h5>
<% end %>

<% if @user.id == current_user.id %>

  <%= button_to 'Edit profile', edit_user_registration_path, :method => :get %>
  <%= button_to 'Create post', new_user_post_path(@user, @post), :method => :get %>
  <%= button_to 'My follows', user_followings_path(current_user), :method => :get %>

<% else %>
  <% if current_user.subscribed(@user).nil? %>

    <%= button_to 'Follow', follows_path(being_followed_id: @user.id), method: :post %>

  <% else %>

    <%= button_to 'Unfollow', follow_path(being_followed_id: @user.id), method: :delete %>

  <% end %>
<% end %>


<% unless @posts.empty? %>
  <h3>Posts:</h3>
  <br>
<% end %>
<tbody>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to (image_tag post.image_url, :id => 'square-post-medium'), user_post_path(@user, post) %></td>
    <br>

<% end %>
</tbody>