<h6>id : <%= @post.id %></h6>
<%= image_tag @post.image_url %>
<br>
<h6>description</h6>
<p> <%= @post.description %> </p>

<h2> All comments </h2>

<% @post.comments.each do |comment| %>
  <tr>
    <td><%= User.find(comment.user_id).username %></td> said:
    <td><%= comment.body %></td>
    <br>
    <% if current_user.present? && current_user.id == comment.user_id %>
      <%= link_to("Delete", post_comment_path(post_id: @post.id, comment_id: comment.id), method: :delete) %>
    <%end%>
    <br>
  </tr>
<%end%>

<% if user_signed_in? %>

  <% if Like.select(user_id: current_user.id, post_id: @post.id).empty? %>

  <%= link_to("<button>Like it!</button>".html_safe,
              post_likes_path(user_id: current_user.id,
                              post_id: @post.id),
              method: :create) %>

  <% else %>
    <%= link_to("<button>Don't like it anymore!</button>".html_safe,
                post_like_path(user_id: current_user.id,
                                   post_id: @post.id),
                   method: :delete)%>
  <% end %>
    <br>
  <%= form_for([@post, @post.comments.build]) do |form|%>

    <%= current_user.name %>, your comment?
    <div class="field">
      <%= form.text_area(:body) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>