<% unless user_signed_in? %>
  <h1>Hello there</h1>
  <p>Sign in or register</p>
<% end %>
<br>

<% @selected_posts.each { |post| %>
<%=  image_tag post.image_url, :width => 350 %>
<br>
<h6>description</h6>
<p> <%=  post.description  %> </p>
<td><%=  link_to 'Show', user_post_path(post.user_id, post)  %></td>
<br>
<br>
<%  } if user_signed_in? && @user.followers.any?%>

<h1>maybe something new</h1>
<br>
<% @new_posts.each { |post| %>
<%=  image_tag post.image_url, :width => 350 %>
<br>
<h6>description</h6>
<p> <%=  post.description  %> </p>
<td><%=  link_to 'Show', user_post_path(post.user_id, post)  %></td>
<br>
<br>
<%  } %>

