<!DOCTYPE html>
<html>
<head>
  <title>STOGRAM</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="<%= cookies[:theme] %>">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <nav id="navbar" class="">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="/"><i class="fa fa-angellist"></i> STOGRAM</a>
      </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <%if user_signed_in? %>
        <li><%= link_to current_user.username, user_path(current_user) %></li>
        <li><%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, method: :delete %></li>
      <%else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to '<i class="fa fa-sign-in" aria-hidden="true"></i>'.html_safe, new_user_session_path%></li>
      <%end%>
      <% if cookies[:theme] == "dark" %>
        <li><%= link_to '<i class="fa fa-sun-o"></i>'.html_safe, root_path(theme: "light") %></li>
      <% else %>
        <li><%= link_to '<i class="fa fa-moon-o"></i>'.html_safe, root_path(theme: "dark") %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="content">
  <%= yield %>
</div>

</body>
</html>